<div class="background" style="height:88vh">
  <section>
    <div class="login-box">
        <div >
          <img  src="../../../assets/img/Sandy_Tsp-04_Single-06.jpg" style="height: 460px;width: 500px;">
        </div>
        
        <div style="width: 50%;" >
          <div style="text-align: end;" >
            <h1 class="line-1">Welcome to Pharma Supplychain</h1>
            <h5 style="color: #D87355;">
              Supplychain using Ethereum smart contract, <br>Web3 and many more.......
            </h5>
            <p>The Pharmaceutical supply chain is the sequence of activities and process to bring raw drugs and matrials from supplier(farms) to processed medicine in Pharm.</p>
          </div>
         <div style="display: flex; justify-content: end">
          <span class="mr-3" >
            <a href="user" class="btn btn-rounded btn-block btn-info" style="background: azure;">User</a>
          </span>
          <span >
            <a href="admin" class="btn btn-rounded btn-block btn-primary" style="    background: cadetblue;">
              Admin
            </a>
          </span>
         </div>
        </div>
    </div>
  </section>
</div>